.App-column {
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #FEFEFE;
  box-shadow: 0px 0px 5px black;
}

.SortButtons {
  padding: 20px 0;
}

.SortButtons-group {
  margin: 0px 10px;
}

.MemorialTable {
  overflow-x: scroll;
}
